*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles  */

/* Login */
.login-container{
  background-color:rgb(195, 238, 254);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.form-container{
  background-color:white;
  width:450px;
  min-width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top:8rem;

}

.form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


/* header */
.header{
  width: 100vw;
  background-color: rgba(255, 250, 250, 0.867);
  position: relative;
  z-index: 10;
}

.active-link{
  text-align: center;

}

.cut-btn{
  width: 200px;
}

.dropdown-overlay {
  position: absolute;
  top: 100%; /* Position dropdown directly below the header */
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9;
  padding-left: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}

.collapse.show.dropdown-overlay {
  display: block;
}

@media (min-width: 992px) {
  /* Revert dropdown positioning on larger screens */
  .dropdown-overlay {
    position: static;
    box-shadow: none;
  }
}



/* songsList */
.songsList-main{
  /* background-color:rgba(255, 255, 255, 0.832); */
  width: 85%;
  border-radius: 10px;
  padding: 10px;
  min-height: 80vh;

}

.container1{
    background-color: rgb(253, 253, 253);
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}
.container2{
    background-color:  rgb(253, 253, 253);
    width: 85%;
    border-radius: 10px;
    padding: 10px;
}

.container3{
    background-color:  rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.btn-custom{
  width: 80px;
}



.container-main{
  /* background-color:  rgb(219, 246, 251); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  border-radius: 10px;
  width: 85%;

}
.audioWindow{
    min-height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.cubesContainer {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns, each taking equal space */
    gap: 5px; /* Space between the cubes */
  }
  
  .cube {
    width: 72px;
    height: 50px; 
    border-radius: 5px;
    border:solid rgb(57, 26, 26) 1px ;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.blinking {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.dataWindow{
    background-color:  rgb(195, 238, 254);
    width: 75%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: ; */
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .cubeWindow{
    background-color: aqua;
    width: 100%;
  }

  .popup{
    width: 300px;
    height: 180px;
    background-color: rgb(255, 255, 255) !important;
  }
  